{% extends 'base.html' %}
{% load static %}
{% load markdown_html %}

{% block title %}ブログ一覧 | {{ block.super }}{% endblock %}

{% block description %}ブログ一覧のページです。{% endblock %}

{% block active_contact %}active{% endblock %}

{% block contents %}
<div class="container">
    <h1 class="mt-4 mb-3">
        Blog List
        <small>ブログ一覧</small>
    </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'blog:index' %}">Home</a>
        </li>
        <li class="breadcrumb-item active">
            Blog List
        </li>
    </ol>

    <!-- ブログ検索一覧 新しい順に１ページあたり３本を表示する -->
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8">
            <!-- Blog Post -->
            {% include "snippets/blog_list.html" %}

            <!-- Pagination -->
            {% include "snippets/pagination.html" %}
        </div>
        <div class="col-md-4">
            <!-- Sidebar widget Column -->
            {% include "snippets/side_widget.html" %}
        </div>
    </div>
</div>
{% endblock %}
