{% extends 'base.html' %}

{% load static %}

{% block title %}お問い合わせ | {{ block.super }}{% endblock %}

{% block active_contact %}active{% endblock %}

{% block contents %}

<div class="container">
    <!-- Page Heading/Breadcrums -->
    <h1 class="mt-4 mb-3">
        Contact
        <small>お問い合わせフォーム</small>
    </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'blog:index' %}">Home</a>
        </li>
        <li class="breadcrumb-item active">
            Contact
        </li>
    </ol>
    <!-- Content Row -->
    <div class="row">
        <!-- Map Coulmn -->
        <div class="col-lg-8 mb-4">
            <!-- Embedded Google Map -->
<!--            <iframe style="width: 100%; height: 400px; border: 0;" src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=37.0625,-95.677068&amp;spn=56.506174,79.013672&amp;t=m&amp;z=4&amp;output=embed"> -->
<!--                #document
                    <html>
                        <head></head>
                        <body></body>
                    </html> -->
                <img src="{% static 'img/default_730_400.jpg' %}">
<!--            </iframe> -->
        </div>
            <!-- Contact Details Column -->
            <div class="col-lg-4 mb-4">
                <h3>Contact Details</h3>
                <p>
                    Chiba, Japan
                </p>
                <p>
                    <a href="https://twitter.com/_whitecat_22">
                    <i class="fab fa-twitter"></i>
                    </a>
                </p>
                <p>
                    <a href="https://github.com/whitecat-22">
                    <i class="fab fa-github"></i>
                    </a>
                </p>
                <p>
                    <a href="https://qiita.com/_whitecat_22">
                    <ims src="{% static 'img/logo-background-color.png' %}" alt="Qiita">
                    </a>
                </p>
            </div>

        <!-- Contact Form -->
        <div class="row">
            {% include "snippets/contact_form.html" %}
        </div>
    </div>
</div>>
{% endblock %}
