{% extends 'base.html' %}
{% load static %}
{% load markdown_html %}

{% block title %}Privacy_Policy | {{ block.super }}{% endblock %}

{% block description %}プライバシーポリシーのページです。{% endblock %}

{% block active_contact %}active{% endblock %}

{% block contents %}
<div class="container">
    <h1 class="mt-4 mb-3">
        Privacy Policy
        <small>プライバシーポリシー</small>
    </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'blog:index' %}">Home</a>
        </li>
        <li class="breadcrumb-item active">
            Privacy Policy
        </li>
    </ol>

    <div class="row">

    <!-- コンテンツ -->
　　Under Constraction !

    </div>
</div>
{% endblock %}
