{% load static %}
<br><br>


<div class="row">
    <div class="col-lg=6">
        <h2>しろねこプロダクトの開発環境</h2>
        <p>WEBサイト／サービス等を制作するにあたり、下記の環境を利用しています。</p>
        <ul>
            <li>
                <a href ="https://www.python.org/"><strong>python</strong></a>
                <img src="{% static 'img/python_brand.svg' %}">
            <!--
           <i class="fab fa-python"></i></a>
-->
            </li>
            <li>
                <a href="https://www.djangoproject.com/">django</a>
            </li>
            <li>
                <a href="https://www.postgresql.org/">PostgreSQL</a>
            </li>
            <li>
                <a href="https://nginx.org/en/">Nginx</a>
            </li>
            <li>
                <a href="https://gunicorn.org/">Gunicorn</a>
            </li>
            <li>
                <a href="https://aws.amazon.com/jp/">AWS</a>
                <i class="fab fa-aws"></i>
            </li>
            <li>
                <a href="https://www.docker.com/">Docker</a>
                <i class="fab fa-docker"></i>
            </li>
            <li>
                <a href="https://github.co.jp/">GitHub</a>
                <i class="fab fa-github"></i>
            </li>
            <li>
                <a href="https://www.sourcetreeapp.com/">Sourcetree</a>
                <i class="fab fa-sourcetree"></i>
            </li>
        </ul>
        <p>
        </p>
    </div>

    <div class="col-lg-6">
        <img class="ims-fuid rounded" src="{% static 'img/default_700_450.jpg' %}">
    </div>
</div>
