{% extends 'base.html' %}

<!-- blog/post_detail.html -->

{% block title %}投稿内容 | {{ block.super }}{% endblock %}
{% block description %}しろねこのブログです。マイペースで更新します。{% endblock %}

{% block content %}

<h1>{{ object.title }}</h1>
<p>{{ object.published_at|date }}</p>
<p>{{ object.category.name }}</p>
{% for tag in object.tags.all %}
{{ tag.name }}
{% endfor %}
<hr>
{{ object.content|safe }}


<main class="col-md-8">
  <article class="blog-area">
    ...
  </article>
  <article class="comment-area">
    <a class="btn btn-primary my-3" href="{% url 'blog:comment_form' post.pk %}">コメントを投稿する</a>
    {% include "blog/snippets/comments.html" %}
  </article>
</main>


{% endblock %}
